---
title: Projects
---

<div id="projects-overview" class="container">
  {% for proj in site.data.resume.projects %}
  <div class="card-block">
          <h5 class="card-title">
            {{ proj.name }}
        </h5>
        <div class="card-text">
            {{ proj.description }}
            <ul>
                {% for var in proj.links %}
                <li><a href="{{ var[1] }}">{{var[0]}}</a></li>
                {% endfor %}
          </ul>
      </div>
  </div>
  {% endfor %}
</div>
