<footer class="site-footer">

  <div class="container text-muted">
    <div class="row">
    <div class="col-3">

      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {% if site.author.phone %}
        <li>{{ site.author.phone }}</li>
        {% endif %}
      </ul>
    </div>

    <div class="col">
      <ul class="social-media-list">
        {% if site.author.github %}
        <li>
          {% include social/icon-github.html username=site.author.github.username %}
        </li>
        {% endif %} {% if site.author.twitter %}
        <li>
          {% include social/icon-twitter.html username=site.author.twitter.username %}
        </li>
        {% endif %} {% if site.author.stackoverflow %}
        <li>
          {% include social/icon-stackoverflow.html userid=site.author.stackoverflow.userid username=site.author.stackoverflow.username%}
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="col-6">

      <p>{{ site.description }}</p>

    </div>
  </div>

  </div>

</footer>
