<div class="container">
    <nav class="navbar navbar-full navbar-light bg-faded">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="/assets/avatar.jpeg" width="30" class="d-inline-block align-top" alt="" />
            <span>{{ site.title }}</span>
        </a>
        <ul class="nav navbar-nav">
            {% for page in site.pages %} {% if page.title %}
            <li class="nav-item">
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>

    </nav>
</div>
