<div id="header">
    <h2 class="text-center">{{ site.title }}</h2>

    <ul class="text-center">
        {% if site.author.phone %}
        <li class="list-inline-item">{{ site.author.phone }}</li>
        {% endif %}
        <li class="list-inline-item"><a href="mailto:{{site.author.email}}" target="_top">{{ site.author.email }}</a></li>
        {% if site.author.address %}
        <li class="list-inline-item">{{ site.author.address }}</li>
        {% endif %}
        {% if site.author.github.username %}
        <li class="list-inline-item">{% include social/icon-github.html username=site.author.github.username %}
        </li>
        {% endif %}
        {% if site.author.stackoverflow %}
        <li class="list-inline-item">{% include social/icon-stackoverflow.html userid=site.author.stackoverflow.userid username=site.author.stackoverflow.username%}
        </li>
        {% endif %}
    </ul>

    <!-- {{ site.pages | where:"title","About"  }} -->
    {{ site.data.resume.topic }}

</div>
