{% assign skillgroups = site.data.resume.skills | group_by:"category" %}
{% assign stars='<i class="fa fa-circle" style="font-size:75%; padding: 0 2.5px;" aria-hidden="true"></i>' %}

<div id="skills">
    <h2>Skills
        <small class="text-muted" style="font-size: 40%;">
        <span class="list-inline-item">Proficient {{ stars }}{{ stars }}{{ stars }}
        </span>
        <span class="list-inline-item">Familiar {{ stars }}{{ stars }}
        </span>
        <span class="list-inline-item">Beginner {{ stars }} 
        </span>
        </small>
    </h2>

    <div class="container">{% for group in skillgroups %}
      {% assign items= group.items | sort:"level" | reverse %}
      {% assign N= forloop.index | modulo: 3 %}
        {% if N == 1 %}
        <div class="row" style="padding: 5px 0;">
        {% endif %}
        <div class="col-xs-4">
          <div class="col-xs-12 text-xs-center">
            <strong class="text-uppercase text-muted">
            {{ group.name }}
            </strong>
          </div>

          <div class="col-xs-12">{% for skill in items %}
          {% capture level %}{{skill.level | to_integer }}{% endcapture %}
          {% capture proficiency %}
            {% for _ in (1..level) %}{{ stars }}{% endfor %}
          {% endcapture %}
            <div class="row text-xs-center">
            <span>{{ skill.name }}</span>
            <span>{{ proficiency }}</span>
            </div>
          {% endfor %}</div>
        {% if N == 0 %}
        </div>
        {% endif %}
        </div>{% endfor %}
    </div>
</div>
