---
title: Blog
---
<small>categories:</small>
{% for category in site.my_categories %}
  <a class="badge badge-info" href="{{category.url}}">{{category.name}}</a>
{% endfor %}
<br>
<small>tags:</small>
{% for tag in site.my_tags %}
  <a class="badge badge-light" href="{{tag.url}}">{{tag.name}}</a>
{% endfor %}

<br><br>

{% if paginator.posts %}
  {% for post in paginator.posts %}
    {% assign category = site.my_categories | where: "slug", post.category %}
    {% assign category = category[0] %}
    <div class="card">
      <div class="card-header">
        <a href="{{ post.url }}">
          <span class="pull-left">{{ post.title }}</span>
          <span class="pull-right">{{ post.date | date: "%b %-d, %Y" }}</span>
        </a>
      </div>
      <div class="card-body">
        <div class="card-text">
          {{ post.excerpt }}
          <small><a class="pull-xs-right" href="{{ post.url }}">continue reading &#8230;</a>
          </small>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Posted <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b. %d, %Y' }}</time> in
          <a href="{{ category.url }}" class="badge badge-info">
            {{ category.name }}
          </a>
        </small>
      </div>
    </div><br>
  {% endfor %}

{% else %}
  <p>No posts found.</p>
{% endif %}

{% if paginator.total_pages > 1 %}
  <div class="text-xs-center">
    <ul class="pagination pagination-sm">
      <li class="page-item{% unless paginator.previous_page %} disabled{% endunless %}">
        <a class="page-link" href="{% if paginator.previous_page == 1 %}/blog/{% else %}{{ paginator.previous_page_path }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item active"><a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% elsif page == 1 %}
          <li class="page-item"><a class="page-link" href="/blog/">1</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="page-item{% unless paginator.next_page %} disabled{% endunless %}">
        <a class="page-link" href="{% if paginator.next_page %}{{ paginator.next_page_path }}{% else %}#{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </div>
{% endif %}
