<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      {% include header.html %}
      <br>
      <div class="container">
          A printer-friendly html version is also made available <a href="{{ 'raw.html' | prepend: site.baseurl }}"  target="_blank">here</a>.  Click <a id="download" href="#">here</a> to download this document via <a href="https://github.com/MrRio/jsPDF" target="_blank">jsPDF</a> -- be warned, this library is still heavily in development!
      </div>
      <hr>
      <div class="page-content">
        <div id="resume-content"  style="background-color: white;" class="container">
          {% include resume/header.html %}
          <hr>
          {% include resume/work.html %}
          <hr>
          {% include resume/education.html %}
          <hr>
          {% include resume/skills.html %}
          <hr>
          {% include resume/publications.html %}

        </div>
      </div>
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script>
    console.log('here!');
    $(function () {

      $('#download').click(function () {
        var pdf = new jsPDF('p', 'pt', 'letter');
        pdf.addHTML(document.getElementById('resume-content'), function(){
            pdf.save("my-resume.pdf");
        });
       });
    });
    </script>
  </body>


</html>
