<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      {% include header.html %}
      <br>
      <div class="container">
          A printer-friendly html version is also made available <a href="{{ 'raw' | prepend: site.baseurl }}"  target="_blank">here</a>.  Click <a id="download" href="#">here</a> to download this document via <a href="https://github.com/MrRio/jsPDF" target="_blank">jsPDF</a> -- be warned, this library is still heavily in development!
      </div>
      <hr>
      <div id="resume-content" class="page-content">
        <div style="background-color: white;" class="container">
          {% include resume/header.html %}
          <hr>
          {% include resume/work.html %}
          <hr>
          {% include resume/education.html %}
          <hr>
          {% include resume/skills.html %}
          <hr>
          {% include resume/publications.html %}

        </div>
      </div>
    {% include footer.html %}

  </body>
  <script src="/js/html2pdf.bundle.min.js"></script>
  <script type="text/javascript">
    $('#download').click(function() {
      var element = document.getElementById('resume-content');
      var opt = {
        margin:       .5,
        filename:     'resume.pdf',
        image:        { type: 'jpeg', quality: 1 },
        html2canvas:  { scale: 1 },
        jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
      };
      html2pdf(element, opt);}
  )
  </script>
</html>
